@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
  }

  body {
    font-family: Inter, system-ui, sans-serif;
    background-color: #f8fafc;
    color: #0f172a;
  }

  button {
    cursor: pointer;
  }

  input,
  textarea,
  select {
    outline: none;
  }
}
